# Keep login bash aligned with the non-interactive environment.
# shellcheck disable=SC1091
[[ -r "$HOME/.bashenv" ]] && source "$HOME/.bashenv"
# shellcheck disable=SC1091
[[ -r "$HOME/.bashrc" ]] && source "$HOME/.bashrc"
