{{- $starship := lookPath "starship" -}}
{{- if $starship -}}
{{- $nixStarship := printf "%s/.nix-profile/bin/starship" .chezmoi.homeDir -}}
{{ output "starship" "init" "bash" "--print-full-init" | replace $nixStarship "starship" | replace $starship "starship" -}}
{{- end -}}
