# ignore macOS and Linux files
.DS_Store
Thumbs.db
*.DS_Store
*.swp

.devenv/
.direnv/
.venv/
.fallow/
**/.fallow/
result

# IDEs
**/.idea/
**/.vs/
**/.vscode/
!/.vscode/
!/.vscode/settings.json
**/packages/
!/packages/
!/packages/**
/packages/**/.DS_Store
node_modules/

# Python
**/__pycache__/
*.py[cod]

**/target/
lcov.info

# Zig
**/.zig-cache/
**/zig-out/
