# ignore macOS and Linux files
.DS_Store
Thumbs.db
*.DS_Store
*.swp

.devenv/
.direnv/
.venv/
.docker-cache/
fallow/
**/fallow/
.fallow/
**/.fallow/
result

# IDEs
**/.vs/
**/.vscode/
!/.vscode/
!/.vscode/settings.json
**/packages/
!/packages/
!/packages/**
/packages/**/.DS_Store
node_modules/
**/node_modules/

**/target/
lcov.info

# Go
dist/
