Config(
    width: Fraction(0.3),
    y: Absolute(200),
    hide_plugin_info: true,
    close_on_click: true,
    show_results_immediately: true,
    max_entries: Some(8),
    layer: Overlay,
    plugins: [
        "libapplications.so",
        "libshell.so",
        "librink.so",
    ],
)
