/* Neubrutalism — Catppuccin Frappe */

window {
    background: transparent;
}

box.main {
    background-color: #303446;
    border-top: 3px solid #7e839a;
    border-left: 3px solid #737994;
    border-bottom: 3px solid #292c3c;
    border-right: 3px solid #2e3142;
    padding: 8px;
    margin: 10px;
    box-shadow: 6px 6px 0px 0px #627698;
}

text {
    background-color: #414559;
    border-top: 2px solid #585c72;
    border-left: 2px solid #53576d;
    border-bottom: 2px solid #353849;
    border-right: 2px solid #393c4e;
    border-radius: 0px;
    padding: 8px 12px;
    min-height: 28px;
    caret-color: #8caaee;
    color: #c6d0f5;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 3px 3px 0px 0px #627698;
}

.matches {
    background-color: transparent;
    border-radius: 0px;
}

box.plugin:first-child {
    margin-top: 6px;
}

box.plugin.info {
    min-width: 200px;
}

list.plugin {
    background-color: transparent;
}

label.plugin.info {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #626880;
}

.match {
    background: transparent;
    padding: 4px 8px;
    border-radius: 0px;
    color: #c6d0f5;
    font-family: "Montserrat", sans-serif;
}

.match:selected {
    background-color: #414559;
    border-top: 2px solid #585c72;
    border-left: 2px solid #53576d;
    border-bottom: 2px solid #353849;
    border-right: 2px solid #393c4e;
    box-shadow: 3px 3px 0px 0px #627698;
}

label.match.description {
    color: #626880;
    font-size: 11px;
}
