[Desktop Entry]
Name=Ghostty
Comment=Terminal emulator
TryExec=/usr/bin/ghostty
Exec=/usr/bin/ghostty --gtk-single-instance=true
Icon=com.mitchellh.ghostty
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;shell;prompt;command;commandline;
StartupNotify=true
Terminal=false
StartupWMClass=com.mitchellh.ghostty
DBusActivatable=false
